.series__item{
    display: inline-block;
    margin: 5px;
    color: #fff;
}

.recomendados{
    color: #fff;
    margin-left: 5px;
}


.serie__img{
    width: 160px;
    height: 239px;
    display: flex;
}

.series__item:hover{
    transform: scale(1.1);
}